# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# IDE
.vs/
.vscode/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db

# Unity specific
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-buildid.txt

# TextMeshPro
Assets/TextMesh Pro/

# TMP Font Atlas (too large for GitHub)
Assets/Fonts/*SDF*.asset
